<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Checklist</title>
    <meta name="description" content="Data Re-use Checklist Template">
    <link rel="icon" type="image/ico" href="https://mozillascience.org/img/favicon.ico">

    <link href="http://couscous.io/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://couscous.io/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://couscous.io/css/prettify.tomorrow-night-eighties.css" rel="stylesheet">
    <link href="http://couscous.io/css/all.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>
<style>
    .navbar-default .navbar-brand {
        color: #D1DDF1;
        font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    }
    .navbar-header:hover .navbar-brand:hover  {
        color: #86AAE4;
    }
    ::selection {
        color: #86AAE4;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #86AAE4;
    }
    ::selection {
        color: #86AAE4;
    }
    a {
        color: #1e5eb6;
    }
    a:hover { 
        color: #86AAE4;
    }
    ::selection {
        text-shadow: none;
        background: #86AAE4;
    }
</style>

<body class="">

    <div id="menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="https://auremoser.github.io/checklist" class="navbar-brand">Data Re-use Checklist</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://auremoser.github.io/checklist">Checklist</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1kZd-ZD5lru5a7jIbyi9q8cBYCCAKRnIBSRvixYFtoF0/edit?pref=2&pli=1#slide=id.g1088c5b110_0_183" target="_blank">Dec</a></li>
                    <li><a href="http://mozillascience.github.io/working-open-workshop/data_reuse/" target="_blank">Handout</a></li>
                    <li><a href="https://github.com/mozillascience/working-open-workshop/blob/gh-pages/handouts/data_reuse_plan_template.md" target="_blank">Template</a></li>
                    <li><a href="https://auremoser.github.io/checklist/references.html">References</a></li>
                    <li>
                        <a href="https://github.com/auremoser/checklist" target="_blank">
                            <i class="fa fa-github"></i> GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    
        <div id="menu" class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="https://auremoser.github.io/checklist" class="navbar-brand">Data Re-use Checklist</a>
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-main">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="https://auremoser.github.io/checklist">Checklist</a></li>
                            <li><a href="https://docs.google.com/presentation/d/1kZd-ZD5lru5a7jIbyi9q8cBYCCAKRnIBSRvixYFtoF0/edit?pref=2&pli=1#slide=id.g1088c5b110_0_183" target="_blank">Dec</a></li>
                            <li><a href="http://mozillascience.github.io/working-open-workshop/data_reuse/" target="_blank">Handout</a></li>
                            <li><a href="https://github.com/mozillascience/working-open-workshop/blob/gh-pages/handouts/data_reuse_plan_template.md" target="_blank">Template</a></li>
                            <li><a href="references.html">References</a></li>
                            <li>
                                <a href="https://github.com/auremoser/checklist" target="_blank">
                                    <i class="fa fa-github"></i> GitHub
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <section class="documentation col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
                        <div class="page-header"><h1 id="documentation">References</h1></div>
                        <p>This is the references page. Here are some articles to help you:</p>
                            <ul>
                            <li><a href="http://auremoser.github.io/checklist/">Getting started</a></li>
                            <li><a href="http://ands.org.au/working-with-data/metadata" target="_blank">Metadata Guide</a>from Australian National Data Service (ANDS)</li>
                            <li><a href="https://www.dataone.org/sites/all/documents/DataONE_BP_Primer_020212.pdf" target="_blank">Best Practices for Data Management</a> from DataONE</li>
                        </ul>
                    </section>

                </div>
            </div>

        <footer>
            <div class="container">
                <p>
                    <a href="https://github.com/auremoser/checklist">Edit this page on GitHub</a>
                </p>
            </div>
        </footer>
        
        <!-- Cousous libraries for formating and bootstrap -->
        <script src="http://couscous.io/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="http://couscous.io/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="http://couscous.io/bower_components/google-code-prettify/src/prettify.js"></script>

        <script>
            $(function() {
                $("section h1").wrap('<div class="page-header" />');
                $("pre").addClass('prettyprint');
                prettyPrint();
            });
        </script>
        <!-- End Library Code -->

    <!-- HT to the Cousous project for Markdown to HTML templates and to the Bootstrap Boilerplate template -->
</body>
</html>